:root {
    --max-width: 1366px;
    --content-width: 1200px;
    --text: white;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }

body {
    width: 1366px;
    background: url(/assets/background/forestback.png) no-repeat;
}

/*osn_div*/

.toplist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: var(--max-width);
}

/*header*/
.header {
    width: 100%;
    height: 65px;
    background: rgba(0.3, 0.3, 0.3, 0.3);
}

/*NAME*/
.navigation_name {
    position: absolute;
    display: flex;
    height: auto;
    width: auto;
    top: 15px;
    left: 40px;
}

.Name {
    color: rgba(255, 255, 255, 0.7);
}

.Name:hover,
.Name:active {
    width: auto;
    height: auto;
    top: 16px;
    left: 40px;
    color:rgba(255, 255, 255, 0.4)
}

.Name:hover .me {
    opacity: 1;
    transform: translateX(0%) translatey(495px);
    visibility: visible;
}

.me {
    position: absolute;
    height: 350px;
    width: 270px;
    opacity: 0;
    top: -420px;
    visibility: hidden;
    transform: translateX(0%) translatey(0px);
    transition: 0.01s;
    background: url(../IMG/me.jpg) no-repeat;
    background-size: cover;
}

/*strengths*/

.navigation_strengths {
    position: absolute;
    display: flex;
    width: auto;
    height: auto;
    top: 22.5px;
    left: 340px;    
}

.strengths {
    color: rgba(255, 255, 255, 0.7);
}

.strengths:hover,
.strengths:active {
    width: auto;
    height: auto;
    top: 16px;
    left: 40px;
    color: rgba(255, 255, 255, 0.4);
}

.strengths:hover .streig {
    opacity: 1;
    transform: translateX(0px) translatey(-400px);
    visibility: visible;
}

.streig {
    box-sizing: border-box;

    border-radius: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: rgba(255, 255,255, 0.7);

    position: absolute;
    width: 170px;
    height: 200px;
    left: 340px;
    top: -450px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(0px) translatey(0px)
}

.streig_text {
    position: absolute;
    width: 155px;
    height: 185px;
    left: 5px;
    top: 5px;

    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 200%;
    text-align: center;

    color: rgba(255, 255, 255, 0.8);
}

